@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Welcom @User.Identity!.Name In Company Panel </h1>
