@model Company.Models.Train

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" asp-controller="CompanyTrains" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="TrainId" />
            <div class="form-group">
                <label asp-for="TrainingName" class="control-label"></label>
                <input asp-for="TrainingName" class="form-control" />
                <span asp-validation-for="TrainingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingField" class="control-label"></label>
                <input asp-for="TrainingField" class="form-control" />
                <span asp-validation-for="TrainingField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingTime" class="control-label"></label>
                <input asp-for="TrainingTime" class="form-control" />
                <span asp-validation-for="TrainingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingDate" class="control-label"></label>
                <input asp-for="TrainingDate"  class="form-control" />
                <span asp-validation-for="TrainingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email"  class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingImg" class="control-label"></label>
                <input asp-for="TrainingImg" type="file" name="Image" class="form-control" />
                <span asp-validation-for="TrainingImg" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



